# Environment variables
.env

# Python virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# User uploaded files
storage/

# IDE settings
.vscode/

# Operating system files
.DS_store
Thumbs.db